<h2>Author</h2>
Muhammad Asad

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<ul>
    <li>List popular languages for Data Science</li>
    <li>Some of the commonly used libraries used by Data Scientists include:</li>
    <li>Comment in arithmetic expression</li>
</ul>

Exercise 4 - Create a markdown cell to list data science languages

<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
</ol>

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
</ol>

Exercise 6 - Create a markdown cell with a table of Data Science tools

<table style="width:50%">
  <tr>
    <th> Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
      <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  
</table>

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

Exercise 8 - Create a code cell to multiply and add numbers

In [8]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
#This will convert 200 minutes to hours by diving by 60
h = 0
mins = 60 #mins in one hour
time = 200

h=time/mins
h

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Exercise 11 - Create a markdown cell to indicate the Author's name

Exercise 12 - Share your notebook through GitHub

Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png